@font-face {
    font-family: 'Lulo Clean';
    src: url('src/assets/fonts/Lulo Clean W01 One Bold.ttf') format('truetype');
}

#nav-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    gap: 4%;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: #031926;
    align-items: center;
    padding:5px 0px 5px;
}

.navbar-buttons{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left:auto;
    margin-right: 30px;
}

.button{
    background-color: #031926;
    color:#DBFCFF;
    border: none;
    border-radius: 0;
    font-family: 'Lulo Clean', serif;
    font-size: 10px;
    height: 5vh;
    margin-left: 10px;
    border: 1px solid rgb(242, 209, 119,0);
}

.button:hover {
    background-color: #0AADFF;
    color: #031926;
    box-shadow: none;
}

.logout-button {
    background-color:#784ac7;
    color:  #f7f6f5;
    box-shadow: none;
    border: 2px solid #1a1353;
    border-radius: 27px;
    font-family: 'Lulo Clean', serif;
    font-size: 10px;
    height: 5vh;
    margin-left: 10px;
}

.logout-button:hover {
    background-color: #17214d ;
    color: #becbd2 ;
    box-shadow: none ;
}


.login-button {
    background-color:#784ac7;
    color:  #f7f6f5;
    box-shadow: none ;
    border: 2px solid #1a1353 ;
    border-radius: 27px ;
    font-family: 'Lulo Clean', serif;
    font-size: 10px ;
    height: 5vh;
    margin-left: 10px;
    margin-right: 10px;
}

.login-button:hover {
    background-color: #17214d ;
    color: #becbd2 ;
    box-shadow: none ;
}

.navbar-title {
    color: #34c4d1;
    font-family: 'Lulo Clean', serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

.navbar-title sup {
    font-size: 20px;
    vertical-align:text-top;
    margin-left: 2px;
}