:root {
    --pill-radius: 999px;
}

@font-face {
    font-family: 'Lulo Clean';
    src: url('src/assets/fonts/Lulo Clean W01 One Bold.ttf') format('truetype');
}

#nav-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    gap: 4%;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: #031926;
    align-items: center;
    padding:5px 0px 5px;
}

.navbar-buttons{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left:auto;
    margin-right: 30px;
}

.button{
    background-color: #031926;
    color:#DBFCFF;
    border: none;
    font-family: 'Lulo Clean', serif;
    font-size: 10px;
    height: 5vh;
    margin-left: 10px;
    border: 1px solid rgb(242, 209, 119,0);
    position: relative;
    transition: 
        background-color 0.35s ease,
        color 0.35s ease,
        border-color 0.35s ease;
    border-radius: var(--pill-radius);
    overflow: hidden;
}

button.mat-mdc-raised-button {
    border-radius: var(--pill-radius) !important;
}

.button:hover {
    background-color: #0AADFF;
    color: #031926;
    box-shadow: none;
    /* background-color: rgba(8, 174, 234, 0.15);
    color: #34c4d1;
    box-shadow: 0 0 12px rgba(42, 245, 152, 0.35); */
}

.logout-button {
    background-color:#784ac7;
    color:  #f7f6f5;
    box-shadow: none;
    border: 2px solid #1a1353;
    border-radius: 27px;
    font-family: 'Lulo Clean', serif;
    font-size: 10px;
    height: 5vh;
    margin-left: 10px;
    position: relative;
    transition: 
        background-color 0.35s ease,
        color 0.35s ease,
        border-color 0.35s ease;
    border-radius: var(--pill-radius);
    overflow: hidden;
}

.logout-button:hover {
    background-color: #17214d ;
    color: #becbd2 ;
}


.login-button {
    background-color:#784ac7;
    color:  #f7f6f5;
    box-shadow: none ;
    border: 2px solid #1a1353 ;
    border-radius: 27px ;
    font-family: 'Lulo Clean', serif;
    font-size: 10px ;
    height: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    transition: 
        background-color 0.35s ease,
        color 0.35s ease,
        border-color 0.35s ease;
    border-radius: var(--pill-radius);
    overflow: hidden;
}

.login-button:hover {
    background-color: rgba(8, 174, 234, 0.15);
    color: #34c4d1;
    box-shadow: 0 0 12px rgba(42, 245, 152, 0.35);
}

.button::before,
.login-button::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        135deg,
        #2af598,
        #08aeea
    );
    opacity: 0;
    transition: opacity 0.35s ease;
    pointer-events: none;

    /* Ovo pravi da se vidi samo ivica */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    padding: 1.5px;
}

.button:hover::before,
.login-button:hover::before {
    opacity: 1;
}

.logout-button::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background: linear-gradient(
        135deg,
        #ff4d4d,
        #ff9f43
    );
    opacity: 0;
    transition: opacity 0.35s ease;
    pointer-events: none;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    padding: 2px;
}

.logout-button:hover::before {
    opacity: 1;
}

.navbar-title {
    color: #34c4d1;
    font-family: 'Lulo Clean', serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

.navbar-title sup {
    font-size: 20px;
    vertical-align:text-top;
    margin-left: 2px;
}