<div id="nav-bar"> 
    <div class="navbar-title">Forensic Intelligence</div>

    <div class="navbar-buttons">
        <button mat-raised-button *ngIf="!isLoggedIn()" class="login-button" [routerLink]="['login']">Log in</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="login-button" [routerLink]="['search']">Search documents</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="login-button" [routerLink]="['geo']">Geo search</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="login-button" [routerLink]="['upload']">Upload new report</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="logout-button" [routerLink]="['login']" (click)="logout()">Log out</button>
    </div>
</div>